*.mexw64
code/OLGameModified_fig1/
code/OLGameModified_timeVarying1/
code/nonconvexExample_fig1/
code/nonconvexExample_fig2/
*.aux
*.blg
*.gz
*.svn-base
*.tmp
fig/OLgame2MP/
fig/
*.log
docs/papers/journal papers/IEEE TAC Technical Note/2016-04-23 MRAGs.pdf
docs/papers/journal papers/IEEE TAC Technical Note/multiplayer_reach_avoid_games.pdf
*.zip
